
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
###> symfony/framework-bundle ###
api/.env.local
api/.env.local.php
api/.env.*.local
api/public/bundles/
api/var/
api/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
api/.phpunit
api/.phpunit.result.cache
api/phpunit.xml
###< symfony/phpunit-bridge ###

front/.env.local
front/.env.local.php
front/.env.*.local
front/public/bundles/
front/var/
front/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
front/.phpunit
front/.phpunit.result.cache
front/phpunit.xml
###< symfony/phpunit-bridge ###